Certifi==2020.6.20
Chardet==3.0.4
Click==7.1.2
Flask==1.1.2
Idna==2.10
Itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Oauthlib==3.1.0
Python-dotenv==0.13.0
Requests-oauthlib==1.3.0
Urllib3==1.25.9
Werkzeug==1.0.1
flask_session==0.3.2
